{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    {% for message in app.flashes('success') %}
    
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="example-wrapper">
        <h1>{{ title }}</h1>
    </div>
    <div class="container">
        <div class="row">
            {% for game in games %}
                <div class="card m-2 col col-lg-12.col-md-6.col-sm-2">
                    <img src="uploads/pictures/{{game.picture}}" class="card-img-top" alt="{{game.titre}}">
                    <div class="card-body d-flex flex-column justify-content-around align-items-center">
                        <h5 class="card-title">{{game.titre}}</h5>
                        <p class="card-text">{{game.descript | striptags | slice(0, 50)}}...</p>
                        <ul>
                        {% for cat in game.categories %}
                            <li>{{cat}}</li>
                        {% endfor %}
                        </ul>
                        {# <a href="game/{{ game.id }}" class="btn btn-primary">Voir</a> #}
                        <a href="{{path('app_show_game', {id: game.id})}}" class="btn btn-primary">Voir</a> {# chemin correct #}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
